@model Models.EF.ProductPortableDevice

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="row flex-grow">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Product</h4>
                    <p class="card-description">
                        Create new <b>Portable Device</b>
                    </p>
                    @using (Html.BeginForm("Create", "ProductPortableDevices", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-sample" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ProductId, "ProductId", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.MemorySize, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.MemorySize, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MemorySize, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.RamSize, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.RamSize, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.RamSize, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Display, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Display, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Display, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Image Front</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="file" name="imageFront" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Image Back</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="file" name="imageBack" />
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Image Side</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="file" name="imageSide" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Quantiny, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Quantiny, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Quantiny, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success mr-2">Submit</button>
                        <a href="@Url.Action("Index")" class="btn btn-light">Cancel</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


                @section PLugin1{
                    <!-- plugins:css -->
                    <link rel="stylesheet" href="/Assets/admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
                    <link rel="stylesheet" href="/Assets/admin/vendors/css/vendor.bundle.base.css">
                    <link rel="stylesheet" href="/Assets/admin/vendors/css/vendor.bundle.addons.css">
                    <!-- endinject -->
                    <!-- plugin css for this page -->
                    <!-- End plugin css for this page -->
                    <!-- inject:css -->
                    <link rel="stylesheet" href="/Assets/admin/css/style.css">
                    <!-- endinject -->
                    <link rel="shortcut icon" href="/Assets/admin/images/favicon.png" />
                    <!-- Data table -->
                    <link rel="stylesheet" type="text/css" href="/Assets/admin/vendors/DataTables/datatables.min.css" />
                }

                @section Plugin2{
                    <!-- plugins:js -->
                    <script src="/Assets/admin/vendors/js/vendor.bundle.base.js"></script>
                    <script src="/Assets/admin/vendors/js/vendor.bundle.addons.js"></script>
                    <!-- endinject -->
                    <!-- Plugin js for this page-->
                    <!-- End plugin js for this page-->
                    <!-- inject:js -->
                    <script src="/Assets/admin/js/off-canvas.js"></script>
                    <script src="/Assets/admin/js/misc.js"></script>
                    <!-- endinject -->
                    <!-- Custom js for this page-->
                    <!-- End custom js for this page-->

                    <script type="text/javascript" src="/Assets/admin/vendors/DataTables/datatables.min.js"></script>
                    <script type="text/javascript" src="/Assets/admin/vendors/DataTables/JSDatatables.js"></script>
                }

