@model IEnumerable<Models.EF.ProductPortableDevice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Smartphones</h4>
                        <div class="table-responsive">
                            <table class="table table-striped" id="DATAtable-employees">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Product.ProductName) (@Html.DisplayNameFor(model => model.RamSize)/@Html.DisplayNameFor(model => model.MemorySize))
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Color)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Display)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FileImage)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Quantiny)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product.ProductName) (@Html.DisplayFor(modelItem => item.RamSize)/@Html.DisplayFor(modelItem => item.MemorySize))
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Color)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Display)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FileImage)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantiny)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductPortableDeviceId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ProductPortableDeviceId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductPortableDeviceId })
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <a href="@Url.Action("Create")" class="btn btn-inverse-success btn-block">Create new Product</a>
                </div>
            </div>
    <!-- content-wrapper ends -->
</div>


@section PLugin1{
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Assets/admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Assets/admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Assets/admin/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/Assets/admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/Assets/admin/images/favicon.png" />
    <!-- Data table -->
    <link rel="stylesheet" type="text/css" href="/Assets/admin/vendors/DataTables/datatables.min.css" />
}

@section Plugin2{
    <!-- plugins:js -->
    <script src="/Assets/admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="/Assets/admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/Assets/admin/js/off-canvas.js"></script>
    <script src="/Assets/admin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->

    <script type="text/javascript" src="/Assets/admin/vendors/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="/Assets/admin/vendors/DataTables/JSDatatables.js"></script>
}

